*{
    font-family: "BinggraeMelona-Bold";
}
*,body,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "BinggraeMelona-Bold";
}
.Navbar{
    height:70px;
    background-color: blueviolet;
}
.Map{
    position: relative;
    overflow: hidden;

}
.Leftbar{
    top:0;
    position:absolute;
    z-index:30;
    left:0;
}
.Rightbar{
    top:0;
    position:absolute;
    z-index:30;
    right:-300px;
}
.SearchByCategory{
    top:100px;
    position:absolute;
    z-index:999;
    left:0;
}

@font-face {
    font-family: "BinggraeMelona-Bold";
    src: url("../fonts/BinggraeMelona-Bold.ttf");
}

@font-face {
    font-family: "BinggraeMelona";
    src: url("../fonts/BinggraeMelona.ttf");
}