*, body, html{
    box-sizing: border-box;   
    padding:0;
    margin: 0;
}
body {
    overflow-y: hidden;
}

.OutLine {
    height: 100vh;
    overflow-y: auto;
}
.m-15{
    margin:15px;
}
/* 화면에서 스크롤바 안보이게 */
.OutLine::-webkit-scrollbar {
    display: none;
}
.InLine{
    height : 100vh;
    width : 100vw;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.InLine:first-child{
    background:radial-gradient(white, white, rgb(0, 176, 252));
}
.InLineend{
    height : 97vh;
    width : 100vw;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerSec{
    width: 100vw;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    background:linear-gradient(to left, white, rgb(0, 176, 252));
}
.innerSec2{
    width: 100vw;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    background:linear-gradient(to left, white, rgb(0, 176, 252));
}
.innerSec:nth-child(2n){
    background:linear-gradient(to left, white, rgb(0, 176, 252));
}
.imgSec{
    height: 140px;
    width: 140px;
}
.imgSec2{
    height: 600px;
    width: auto;
}