.infoTable{
    margin-bottom: 30px;
}
.m-t{
    margin-top:30px;
}
.m-Y{
    margin-top:30px;
    margin-bottom: 30px;
}
.graph{
    margin-top:20px;
    margin:20px auto;
}
.color1{
    background-color: blue;
    width: 20px;
    height: 20px;
}
.color2{
    background-color: red;
    width: 20px;
    height: 20px;
}
.font-red{
    color: rgb(34, 158, 251);
    font-size: 25px;
}