.Search {
  display: flex;
  position: absolute;
  top: 30px;
  left: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: rgb(255, 255, 255);
  overflow: hidden;
  z-index: 2;
  color: white;
}
